.sign-in{
    /*width:380px;*/
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex:1;
    background-color: whitesmoke;
    
}
img{
    max-width: 80%;
    max-height: 80%;
    margin: 25px;
    
}
.flex-item-left{
    flex: 50%;
    background-color: white;
}
.flex-item-right{
    flex: 50%;
    
}
